{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "$": true
  },
  "plugins": [
    "html"
  ],
  "settings": {
    "html/indent": "+2"
  },
  "rules": {
    "semi": ["error", "never"],
    "quotes": ["error", "single"]
  }
}