{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "$": true
  },
  "plugins": [
    "html",
    "vue"
  ],
  "settings": {
    "html/indent": "+2"
  },
  "rules": {
    "no-var": 2,
    "prefer-const": 2
  }
}
